.circular--landscape {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}
